# Load Data and split

In [1]:
#veri yüklemek üzere  ihtiyacımız olan pandas kütüphanesini pd kısa adıyla kullanmak üzere yükle:
import pandas as pd
#çeşitli numerik uygulamalarda kullanmak üzere numpy kütüphanesini np kısa adı ile yükle:
import numpy as np

In [2]:
#veriyi pandas ile yükle
data = pd.read_table("load_data_and_split.txt", sep=",")

In [3]:
data

     X1    X2  Y
0  0.78 -0.39  0
1  0.43 -0.19  0
2  0.40  0.17  0
3  0.39  0.31  1
4  0.55  1.00  0
5  0.71  0.76  1
6  0.67  0.60  1

In [4]:
X = np.array(data[['X1', 'X2']])
y = np.array(data['Y'])

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)